:root{
    /*Colori*/
    --primarycolor: #212529;
    --secondarycolor: #ffffff;
    --bs-body-color: #ffffff;
    --bs-body-bg: #212529;
    --bs-tertiary-bg : #212529;
}

body{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
}
a{
    text-decoration: none;
    color: var(--secondarycolor);
}
th, td{
    color: var(--secondarycolor) !important;
    min-width: 50px;
    vertical-align: middle;
}


/*Header*/
#languageDropdown{
    text-decoration: none ;
    color: var(--secondarycolor);
    cursor: pointer;
}
#tema{
    float: none;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    background-color: var(--secondarycolor);
}
.form-check-label, p{
    color: var(--secondarycolor);
}

/*Login*/
#login-form a, #register-form a {
    color: var(--secondarycolor);
    cursor: pointer;
}
#login-form a:hover, #register-form a:hover {
    text-decoration: underline;
}
#login-form , #register-form {
    min-width: 400px;
}

/*Home*/
#home{
    min-width:250px;
}

.partecipants{
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
}

/*Giocatori*/
.miatable th{
    cursor: pointer;
}

/*Visualizza*/
.miacard{
    overflow: auto;
}
.miacardbody{
    min-width: 400px;
}

.miacardbody input[type=number]{
    border: none;
    text-align: center;
}

#myTable th, #myTable td {
    min-width: auto;
}
.tablegironi th, .tablegironi td {
    min-width: auto;
}