:root {
  --nero: black;
  --bianco: white;
  --blu: blue;
}
/*SISTEMA*/
.jmodedit,
[id^="tip-"] {
  display: none !important;
}

a{
  text-decoration: none;
}

/*UTENTI*/
[class^="com-users"] button[type="submit"] {
  margin-top: 1rem;
}

/*HEADER*/
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1050;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*NAVBAR*/
.navbar-brand {
  width: clamp(48px, 100%, 200px);
  height: auto;
  max-height: 80px;
}
.navbar-brand img {
  width: 100%;
  height: auto;
}

/***** CATEGORY LIST *****/
.cat-children h3 {
  display: none;
}

.com-content-category__children h3 {
  display: block;
}

/* Contenitore principale per la tabella */
.category-table-container {
  margin: 0 auto;
}

/* Tabella principale */
.category-table {
  width: 100%;
  vertical-align: middle;
  min-width: 400px;
}

/* Intestazione della tabella */
.category-header-logo,
.category-header-participants {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.category-header-title {
  text-align: left;
  font-weight: bold;
  padding: 10px;
}

/* Cella dell'immagine della categoria */
.category-image-cell {
  text-align: center;
}

/* Immagine della categoria */
.category-image {
  display: block;
  margin: 0 auto;
  width: 60px;
  /* Larghezza fissa */
  height: 60px;
  /* Altezza fissa */
  object-fit: contain;
  /* Ritaglia l'immagine mantenendo le proporzioni */
}

/* Cella del titolo della categoria */
.category-title-cell {
  width: auto;
  text-align: left;
}

/* Titolo della categoria */
.category-title {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* Cella del numero di articoli */
.category-items-cell {
  width: 50px;
  text-align: center;
}

/* Badge con il numero di articoli */
.category-badge {
  font-size: 14px;
}

.cat-children td a,
.allarticles td a,
.campionato {
  color: var(--nero);
  text-decoration: none;
}

.cat-children td a:hover,
.allarticles td a:hover,
.campionato:hover {
  color: var(--blu);
  text-decoration: none;
}

/***** CATEGORY LIST *****/

.squadra {
  width: auto;
  /* Si adatta al contenuto */
  min-width: 100px;
  /* Limite minimo di larghezza per garantire una dimensione accettabile */
  padding: 5px;
  text-align: center;
}

/***** ARTICOLI *****/
.com-content-article {
  margin-bottom: 30px;
  /* Spaziatura inferiore */
}

.com-content-article__header {
  padding: 10px;
  /* Padding per il titolo */
  width: 50%;
}

.com-content-article__title {
  margin: 0;
  /* Rimuove margini predefiniti */
  font-size: 2rem;
  /* Dimensione del font del titolo */
}

.com-content-article__body {
  margin-top: 15px;
  /* Spazio sopra il contenuto dell'articolo */
}

.com-content-article__body p {
  text-align: left;
  color: var(--nero);
}

.com-content-article__image img {
  width: auto;
  /* Limita la larghezza dell'immagine */
  height: 250px;
}

.com-content-article__strength {
  margin-top: 15px;
  /* Spazio sopra il campo forza */
  font-weight: bold;
  /* Rende il testo in grassetto */
}

/***** ARTICOLI *****/
/***** TAG *****/
.com-tags__items .card {
  transition: all 0.3s ease;
  min-height: 150px;
}

.com-tags__items .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.com-tags__items .card-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.com-tags__items .card-text {
  font-size: 0.95rem;
}

/***** TAG *****/
/***** MODALITA *****/
.creacomp {
  background-color: var(--nero);
  border-radius: 50px;
}

.creacomp a {
  text-decoration: none;
  color: var(--bianco);
}

.miniimg {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/***** MODALITA *****/

/***** COMPETIZIONI *****/
/* Barra fissa solo su schermi lg e superiori */
.fixed-lg {
  position: relative;
}

@media (min-width: 992px) {
  /* lg e superiori */
  .fixed-lg {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: transparent;
  }
}

.mybar button {
  min-width: 125px;
}

.squadra-container {
  width: 150px;
  padding: 10px;
  border-radius: 8px;
}

.calendario .card-body {
  overflow: auto;
}

.calendario .card-body .calendarow {
  min-width: 100px;
  width: 150px;
  position: relative;
}

.catandtag{
  position: relative;
}

.classificagironi td {
  background: none;
}

.myinput input[type="number"] {
  -moz-appearance: textfield;
  /* Rimuove le freccette in Firefox */
  width: 30px;
  height: 30px;
  padding: 5px;
}

.myinput .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  /* Puoi regolare la dimensione del font se necessario */
}

.forzahover,
.categoryandtag {
  visibility: hidden; /* Nascondi il tooltip inizialmente */
  opacity: 0; /* Invisibile inizialmente */
  position: absolute; /* Posiziona il tooltip rispetto al container */
  bottom: 105%; /* Posiziona sopra l'elemento */
  left: 50%;
  transform: translateX(-50%); /* Centra il tooltip orizzontalmente */
  background-color: #000; /* Colore di sfondo */
  color: #fff; /* Colore del testo */
  transition: opacity 0.3s ease; /* Transizione per un'animazione fluida */
  display: flex; /* Utilizza flexbox per centrare il testo */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  font-size: 12px;
  font-weight: bold;
  z-index: 1; /* Assicura che il tooltip sia sopra gli altri contenuti */
}

.forzahover{
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Angoli arrotondati */
}

.categoryandtag {
  padding: 10px;
  border-radius: 25px; /* Angoli arrotondati */
}


.calendarow:hover .forzahover,
.catandtag:hover .categoryandtag  {
  visibility: visible; /* Rende visibile il tooltip */
  opacity: 1; /* Rende visibile il tooltip */
}




/***** COMPETIZIONI *****/
/***** CREA SQUADRA *****/
.mioeditform [id^="jform_alias"],
.mioeditform [id^="jform_state"],
.mioeditform #publishing,
.mioeditform .tox,
.mioeditform .toggle-editor,
.mioeditform legend {
  display: none !important;
}

.mioeditform .input-group {
  max-width: 356px;
}
/***** CREA SQUADRA *****/


/***** CLASSIFICA *****/
.andamento{
  width: 90vw;
  margin-left: calc(50% - 45vw);
}